::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255);
}

.title{
  color: #242e3e;
  margin-top:30px;
  margin-left:20px;
  margin-bottom: 0;
}
.apartment{
  color: #5b5f5e;
  margin-top:10px;
  margin-left:20px;
  margin-bottom: 0;
}

.nav {
  margin-left:10px;
  margin-top:10px;
  &-wrapper{
    background-color: #f0f0f0;
    @media only screen and (min-width: 980px) {
      overflow-y: scroll;
      flex-basis: 300px;
      flex-grow: 0;
    }
  }

  &-list {
    margin-top: 8px;
    list-style-position: outside;
    list-style-type: "-";
  }

  &-section {
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #374353;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  &-element {
    margin-left: 5px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: normal;

    &-link {
      color: #5b6e7f;
      text-decoration: none;
    }
  }
}